#!/usr/bin/make -f

%:
	dh $@ --with python2


override_dh_fixperms:
	dh_fixperms
	find ./debian/runsnakerun/ -executable -type f -exec chmod -x "{}" \;
	find ./debian/runsnakerun/usr/bin/ -type f -exec chmod +x "{}" \;

